@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Inter", system-ui, sans-serif;
		background-color: #f4f4f4;
	}
}

.sub-menu {
	>li {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 50%;
			width: 16px;
			height: 50%;
			border-left: 2px solid #efefef;
			border-bottom: 2px solid #efefef;
			border-bottom-left-radius: 12px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 100%;
			border-left: 2px solid #efefef;
		}

		&:last-child {
			&::after {
				height: 30%;
				bottom: auto;
				top: 0;
			}
		}
	}
}

.switch-box {
	color: #6f767e;
	padding: 4px;
	border-radius: 40px;
	background: #f4f4f4;

	&__wrapper {
		position: relative;
		display: flex;
		gap: 4px;
	}

	&__item {
		padding: 6px 24px;
		position: relative;
		z-index: 2;
		flex: 1;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			color: #1a1d1f;
		}
	}

	&>input:checked+&__wrapper .switch-box__item--true {
		color: #1a1d1f;
	}

	&>input+&__wrapper:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		border-radius: 36px;
		background-color: #fcfcfc;
		width: 50%;
		z-index: 1;
		box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25),
			inset 0px -1px 1px rgba(0, 0, 0, 0.04),
			inset 0px 2px 0px rgba(255, 255, 255, 0.25);
		transition: all 0.3s;
	}

	&>input:checked+&__wrapper:before {
		transform: translateX(0);
	}

	&>input:not(:checked)+&__wrapper:before {
		transform: translateX(100%);
	}

	&>input:disabled+&__wrapper {
		opacity: 0.5;

		.switch-box__item {
			cursor: default;
			color: #6f767e;
		}
	}
}

.modal-backdrop-transition {
	&-enter {
		opacity: 0;
	}

	&-enter-active {
		opacity: 1;
		transition: opacity .3s ease-in-out;
	}

	&-exit {
		opacity: 1;
	}

	&-exit-active {
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
}

.modal-transition {
	&-enter {
		opacity: 0;
		max-height: 0;
	}

	&-enter-active {
		opacity: 1;
		max-height: 100rem;
		transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
	}

	&-exit {
		opacity: 1;
		max-height: 100rem;
	}

	&-exit-active {
		opacity: 0;
		max-height: 0;
		transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
	}
}

.slide-x {
	&-enter {
		opacity: 0;
		max-height: 0;
	}

	&-enter-active {
		opacity: 1;
		max-height: 100rem;
		transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
	}

	&-exit {
		opacity: 1;
		max-height: 100rem;
	}

	&-exit-active {
		opacity: 0;
		max-height: 0;
		transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
	}
}

@media (max-width: 767px) {
	.sidebar {
		&-enter {
			opacity: 0;
			max-height: 0px;
		}

		&-enter-active {
			opacity: 1;
			max-height: 100rem;
			transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
		}

		&-exit {
			opacity: 1;
			max-height: 100rem;
		}

		&-exit-active {
			opacity: 0;
			max-height: 0px;
			transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
		}

		&-exit-done {
			display: none;
		}
	}
}

.popper-arrow,
.popper-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.popper-arrow {
	visibility: hidden;
}

.popper-arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}

.popper-tooltip {
	&[data-popper-placement^='top']>.popper-arrow {
		bottom: -4px;
	}

	&[data-popper-placement^='bottom']>.popper-arrow {
		top: -4px;
	}

	&[data-popper-placement^='left']>.popper-arrow {
		right: -4px;
	}

	&[data-popper-placement^='right']>.popper-arrow {
		left: -4px;
	}
}